server:
  port: 8080

spring:
  config:
    import: classpath:env.properties
  application:
    name: seoulmate

  datasource:
    url: jdbc:postgresql://localhost:5432/seoulmate
    driver-class-name: org.postgresql.Driver
    username: kolk
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
